version: '3.4'

services:
  mssqldb:
    image: mcr.microsoft.com/mssql/server:2022-latest

  rabbitmq:
    image: rabbitmq:3-management-alpine

  mango.services.productapi:
    image: ${DOCKER_REGISTRY-}mangoservicesproductapi
    build:
      context: .
      dockerfile: Services/Mango.Services.ProductAPI/Dockerfile

  mango.services.shoppingcartapi:
    image: ${DOCKER_REGISTRY-}mangoservicesshoppingcartapi
    build:
      context: .
      dockerfile: Services/Mango.Services.ShoppingCartAPI/Dockerfile

  mango.services.couponapi:
    image: ${DOCKER_REGISTRY-}mangoservicescouponapi
    build:
      context: .
      dockerfile: Services/Mango.Services.CouponAPI/Dockerfile

  mango.services.orderapi:
    image: ${DOCKER_REGISTRY-}mangoservicesorderapi
    build:
      context: .
      dockerfile: Services/Mango.Services.OrderAPI/Dockerfile

  mango.services.paymentapi:
    image: ${DOCKER_REGISTRY-}mangoservicespaymentapi
    build:
      context: .
      dockerfile: Services/Mango.Services.PaymentAPI/Dockerfile

volumes:
  mssql_data:



