version: '3.4'

services:
  mssqldb:
    container_name: mssqldb
    environment:
        SA_PASSWORD: "Admin_123"
        ACCEPT_EULA: "Y"
    restart: always
    ports:
        - "1433:1433"
    volumes:
      - mssql_data:/var/lib/mssqlql/data

  rabbitmq:
    container_name: rabbitmq
    environment:
        - RABBITMQ_DEFAULT_USER=guest
        - RABBITMQ_DEFAULT_PASS=guest
    restart: always
    ports:
        - "5672:5672" 
        - "15672:15672"

  mango.services.productapi:
    container_name: product.api
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - "ConnectionStrings:DefaultConnection=Server=mssqldb;Database=MangoProductAPI;User Id=sa;Password=Admin_123"
    depends_on:
      - mssqldb
    ports:
      - "8001:80"

  mango.services.shoppingcartapi:
    container_name: shoppingcart.api
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - "ConnectionStrings:DefaultConnection=Server=mssqldb;Database=MangoShoppingCartAPI;User Id=sa;Password=Admin_123"
    depends_on:
      - mssqldb
    ports:
      - "8002:80"

  mango.services.couponapi:
    container_name: coupon.api
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - "ConnectionStrings:DefaultConnection=Server=mssqldb;Database=MangoCouponAPI;User Id=sa;Password=Admin_123"
    depends_on:
      - mssqldb
    ports:
      - "8003:80"

  mango.services.orderapi:
    container_name: order.api
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - "ConnectionStrings:DefaultConnection=Server=mssqldb;Database=MangoOrderAPI;User Id=sa;Password=Admin_123"
      - "RabbitMq:HostAddress=amqp://guest:guest@rabbitmq:5672"
    depends_on:
      - mssqldb
      - rabbitmq
    ports:
      - "8004:80"

  mango.services.paymentapi:
    container_name: payment.api
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - "RabbitMq:HostAddress=amqp://guest:guest@rabbitmq:5672"
    depends_on:
      - rabbitmq
    ports:
      - "8005:80"
